.root-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 50px;
    width: 100%;
    height: 100%;
}

.carousel {
    max-height: 80vh;
    max-width: 20vw;
    justify-content: center;
}

.carousel-container {
    width: 40%;
}

.carousel-slider {
    margin: 0;
    padding: 0;
    height: 100%;
}

.carousel .slide {
    padding: 0px 15%;
}

.image-caption {
    /* max-width: 500px; */
    font-size: 25px;
    padding: 0 30px;
    width: 35%;
}

.carousel:hover .control-arrow {
    background: rgba(0,0,0,0.2);
}

@media screen and (max-width: 960px){

    .root-container {
        gap: 50%;
        flex-direction:column;
        justify-content: space-between;
    }

    .carousel-container {
        width: 100%;
    }

    .carousel {
        max-width: 100%;
    }

    .image-caption {
        padding: 0px;
        font-size: 16px;
        width: 100%;
        text-align: center;
        height: 150px
    }

    .carousel .slide {
        padding: 0px;
    }

    .carousel-slider{  
        width: 100%;
    }

    .carousel {
        padding-bottom: 60px;
    }


}