.Footer {
    background: #fff;
    position:relative;
    bottom: 0;
    width: 100%;
    padding-top: 50px;
    display: block;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
}

.MainHeading {
    color: black;
    width: 50%;
    font-size: 32px;
}

.FooterContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1000px;
	margin: 0 auto;
}

.columns {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 50%;
    align-items: flex-end;
    padding-right: 20px;
}

.RowSection {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.ItemLink {
    color: #5524c9;
    margin-bottom: 10px;
    font-size: 12px;
    text-decoration: none;
}

.ItemLink:hover {
    color: #01bf71;
    text-decoration: none;
}

.FooterItem {
    font-size: 18px;
    color: #5524c9;
    margin-bottom: 14px;
    margin-top: 10px;
    font-weight: bold;
}

.socialColumns {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 8px;
    align-items: center;
    text-align: left;

}

.socialItemLink {
    color: #5524c9;
    margin-bottom: 20px;
    font-size: 20px;
    text-decoration: none;
    margin-top: 10px;
}

.socialItemLink:hover {
    color: #01bf71;
    text-decoration: none;
}

@media screen and (max-width: 768px){
    .RowSection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .columns {
        width: 100%;
        align-items:center;
        padding-top: 10px;
        margin: 0;
    }

    .socialColumns {
        display: flex;
        flex-direction: row;
    }

    .MainHeading {
        padding: 10px 0;
        width:100%;
        text-align:center;
    }

    .socialItemLink {
        padding: 0 4px;
    }
}