.Footer {
    background: #000525;
    position:relative;
    bottom: 0;
    width: 100%;
    display: block;
    padding: 30px 40px 30px;
    margin-top: 20px;
}

.MainHeading {
    color: black;
    width: 50%;
    font-size: 32px;
}

.FooterContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1500px;
	margin: 0 auto;
}

.columns {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 20px;
}

.RowSection {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.ItemLink {
    color: white;
    margin-bottom: 10px;
    font-size: 12px;
    text-decoration: none;
}

.ItemLink:hover {
    color: #01bf71;
    text-decoration: none;
}

.FooterItem {
    font-size: 18px;
    color: white;
    margin-bottom: 14px;
    margin-top: 10px;
    font-weight: bold;
}

.followText {
    color: white;
    font-size: 20px;
}

.socialColumns {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.socialItemLink {
    color: white;
    font-size: 35px;
    text-decoration: none;
    margin-top: 10px;
}

.socialItemLink:hover {
    color: #13D74B;
    text-decoration: none;
}

@media screen and (max-width: 768px){
    .RowSection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .columns {
        width: 100%;
        align-items:center;
        padding-top: 10px;
        margin: 0;
    }

    .socialColumns {
        display: flex;
        flex-direction: row;
    }

    .MainHeading {
        padding: 10px 0;
        width:100%;
        text-align:center;
    }

    .socialItemLink {
        padding: 0 4px;
        font-size: 24px;
    }
}