.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    padding: 60px 50px;
    justify-content: center;
}

.value-title {
    width: 100%;
    text-align: center;
    font-size: 48px;
    color: #000525;
    font-weight: 600;
    padding-bottom: 50px;
}

.list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    justify-content: center;
}

.listItem {
    list-style: none;
    text-align: center;
    width: 50%;
    color: #13D84B;
    font-weight: 600;
    font-size: 30px;
    line-height: 48px;
    padding: 16px 0;
}

@media screen and (max-width: 960px){

    .list-container {
        flex-wrap: wrap;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .listItem {
        width: 100%;
        font-size: 22px;
        padding: 18px 0;
        line-height: 25px;
    }
}