.full-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.waitlist-container {
    display: flex;
    flex-direction: column;
    height: auto;
    flex-basis: 50%;
    padding-top: 40px;
    padding-bottom: 20px;
}

.newsletter-container input {
    background: white;
}

.subtitle-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 10px 10px;
}

.waitlist-title {
    font-size: 30px;
}
.waitlist-detail {
    font-size: 18px;
    padding-bottom: 10px;
}

@media screen and (max-width: 960px){
    .waitlist-title {
        font-size: 30px;
        padding: 15% 0px 5% 0px;
    }

    .waitlist-container {
        flex-basis: 90%;
        padding-top: 0px;
    }
}

.join {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.joinBtn {
    border-radius: 10px;
    background: #13D84B;
    white-space: nowrap;
    padding: 12px 24px;
    color: white;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    width: 20ch;
    /* width: 20ch;
    border-radius: 4px;
    background: #13D74B;
    white-space: nowrap;
    color: white;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    text-align: center;
    height: 100%;
    padding: 10px 22px;
    margin-top: 20px; */
}

.textField {
    width: 100px;
}

.joinBtn:hover {
    transition: all 0.2s ease-in-out;
    background: #5524c9;
    color: #ffffff;
}

.prefinery-name-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
    justify-content: space-between;
}

.prefinery-name-container * {
    margin: 0px !important;
}

/* .formContainer {
    margin: 10px;
} */

@media screen and (max-width: 960px){
    .formContainer {
        width: 100%;
    }

    .join {
        flex-direction: column;
    }

    .joinBtn {
        margin: 20px 0px;
        width: 100%;
    }
}